
<body>
    <section id="contato" class="w-full min-h-screen bg-gradient-to-br from-light_green via-pink to-light_yellow py-12 py-28">
        <div class="flex flex-col justify-center items-center gap-8">
            <div class="flex flex-col justify-center items-center gap-4 px-4 md:px-0">
                <h2 class="text-sm font-semibold text-dark_green">ENTRE EM CONTATO</h2>
                <h1 class="text-center text-5xl font-light">Vamos Começar sua <strong class="text-dark_green"> <br> Jornada de Bem-Estar</strong></h1>
                <p class="text-center text-xl font-light text-gray-700">Preencha o formulário e entrarei em contato o mais breve possível</p>
            </div>

        <main class="py-12 w-full">
            <div class="flex flex-col md:flex-row justify-center items-center flex-wrap gap-12 md:gap-16">
                <div class="flex flex-col gap-6 bg-gradient-to-r from-soft_white to-bg_white border border-dark_green/40 rounded-xl shadow-xl p-6 w-[80%] md:w-[40%]">
                    <h2 class="text-2xl text-dark_green font-bold">Informações de Contato</h2>
                    <div class="flex flex-row gap-4">
                        <div class="bg-gradient-to-br from-light_green to-dark_green w-12 h-12 rounded-xl flex justify-center items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail-icon lucide-mail"><path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"/><rect x="2" y="4" width="20" height="16" rx="2"/></svg>
                        </div>
                        <div class="flex flex-col">
                            <p class="text-xl font-semibold">
                                E-mail
                            </p>
                            <p class="text-lg font-light">
                               email@gmail.com 
                            </p>
                        </div>
                    </div>
                    <div class="flex flex-row gap-4">
                        <div class="bg-gradient-to-br from-light_green to-dark_green w-12 h-12 rounded-xl flex justify-center items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone-icon lucide-phone"><path d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"/></svg>
                        </div>
                        <div class="flex flex-col">
                            <p class="text-xl font-semibold">
                                Telefone
                            </p>
                            <p class="text-lg font-light">
                               (71) 99999-9999
                            </p>
                        </div>
                    </div>
                    <div class="flex flex-row gap-4">
                        <div class="bg-gradient-to-br from-light_green to-dark_green w-12 h-12 rounded-xl flex justify-center items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin-check-icon lucide-map-pin-check"><path d="M19.43 12.935c.357-.967.57-1.955.57-2.935a8 8 0 0 0-16 0c0 4.993 5.539 10.193 7.399 11.799a1 1 0 0 0 1.202 0 32.197 32.197 0 0 0 .813-.728"/><circle cx="12" cy="10" r="3"/><path d="m16 18 2 2 4-4"/></svg>
                        </div>
                        <div class="flex flex-col">
                            <p class="text-xl font-semibold">
                                Localização
                            </p>
                            <p class="text-lg font-light">
                               R. das Rosas, 248 - Pituba 
                            </p>
                        </div>
                    </div>
                    
                </div>

                <div class="flex flex-col gap-6 bg-gradient-to-r from-soft_white to-bg_white border border-dark_green/40 rounded-xl shadow-xl p-6 w-[80%] md:w-[40%]">
                    <h2 class="text-2xl text-dark_green font-bold">Redes Sociais</h2>
                    <div class="flex flex-row gap-4">
                        <div class="bg-gradient-to-br from-light_green to-dark_green w-12 h-12 rounded-xl flex justify-center items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-instagram-icon lucide-instagram"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/></svg>
                        </div>
                        <div class="flex flex-col">
                            <p class="text-xl font-semibold">
                                Instagram
                            </p>
                            <p class="text-lg font-light">
                               @quetnanirinafisio 
                            </p>
                        </div>
                    </div>
                    <div class="flex flex-row gap-4">
                        <div class="bg-gradient-to-br from-light_green to-dark_green w-12 h-12 rounded-xl flex justify-center items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-smartphone-icon lucide-smartphone"><rect width="14" height="20" x="5" y="2" rx="2" ry="2"/><path d="M12 18h.01"/></svg>
                        </div>
                        <div class="flex flex-col">
                            <p class="text-xl font-semibold">
                                WhatsApp
                            </p>
                            <p class="text-lg font-light">
                               (71) 99999-9999
                            </p>
                        </div>
                    </div>
                    <div class="flex flex-row gap-4">
                        <div class="bg-gradient-to-br from-light_green to-dark_green w-12 h-12 rounded-xl flex justify-center items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-inbox-icon lucide-inbox"><polyline points="22 12 16 12 14 15 10 15 8 12 2 12"/><path d="M5.45 5.11 2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z"/></svg>
                        </div>
                        <div class="flex flex-col">
                            <p class="text-xl font-semibold">
                                E-mail Profissional
                            </p>
                            <p class="text-lg font-light">
                               email@gmail.com
                            </p>
                        </div>
                    </div>
                    
                </div>

            </div>
            
            </main>
        </div>
    </section>
    
</body>