<body>
    <section id="sobre" class="w-full min-h-screen bg-bg_white py-16">
        <div class="flex flex-col md:flex-row justify-center items-center gap-8 px-8 mt-16">

            <div class="w-[90%] h-[90%] md:w-[35%] md:h-[35%] shadow-xl/30 rounded-xl">
                <img src="../public/assets/eu.jpeg" alt="mulher fazendo pilates" 
                    class="rounded-xl shadow-xl/30 shadow-light_yellow">
            </div>

            <div class="flex flex-col w-[90%] md:w-[40%] gap-12 md:gap-8">
                <div class="flex flex-col gap-8">
                    <h2 class="text-lg font-semibold text-dark_green">SOBRE MIM</h2>
                    <h1 class="text-5xl font-normal">
                        Olá, sou a <strong class="text-dark_green font-semibold"> <br> Dra. Quetnan Irina</strong>
                    </h1>
                    <p class="text-lg font-light">
                        Meu nome é Quetnan Irina, tenho 28 anos e sou formada em Fisioterapia pela UNIFTC (turma de 2025). Sou mãe da Malía, de 4 anos, e tenho uma grande paixão pela reabilitação e cuidado com o movimento humano.                    </p>
                  <p class="text-lg font-light">
                        Atualmente, curso pós-graduação em Pós-Operatório de Cirurgias Traumato-Ortopédicas e pós-graduação em Fisioterapia Hospitalar com ênfase em UTI. Sou Instrutora de Pilates desde 2022, com mais de dois anos de experiência na área, atuando tanto em estúdios de Pilates quanto em atendimentos domiciliares de fisioterapia.
                    </p>

                    <p class="text-lg font-light">
                        Através da fisioterapia e do Pilates, busco não apenas tratar lesões, mas transformar a relação que você
                        tem com seu corpo, promovendo saúde integral e qualidade de vida.
                    </p>

                </div>

                <div class="grid grid-cols-3 justify-between justify-center items-start w-full">
                    <div class="flex flex-col justify-center items-center gap-2">
                        <div class="bg-gradient-to-br from-light_green to-dark_green w-12 h-12 rounded-full flex justify-center items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-users-icon lucide-users"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/><path d="M16 3.128a4 4 0 0 1 0 7.744"/><path d="M22 21v-2a4 4 0 0 0-3-3.87"/><circle cx="9" cy="7" r="4"/></svg>
                        </div>
                        <h2 class="text-2xl font-light text-center">500+</h2>
                        <p class="text-base font-light text-center">Pacientes atendidos</p>
                    </div>
                    <div class="flex flex-col justify-center items-center gap-2">
                        <div class="bg-gradient-to-br from-light_green to-dark_green w-12 h-12 rounded-full flex justify-center items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-award-icon lucide-award"><path d="m15.477 12.89 1.515 8.526a.5.5 0 0 1-.81.47l-3.58-2.687a1 1 0 0 0-1.197 0l-3.586 2.686a.5.5 0 0 1-.81-.469l1.514-8.526"/><circle cx="12" cy="8" r="6"/></svg>
                        </div>
                        <h2 class="text-2xl font-light text-center">2+</h2>
                        <p class="text-base font-light text-center">Anos de experiência</p>
                    </div>
                    <div class="flex flex-col justify-center items-center gap-2">
                        <div class="bg-gradient-to-br from-light_green to-dark_green w-12 h-12 rounded-full flex justify-center items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart-icon lucide-heart"><path d="M2 9.5a5.5 5.5 0 0 1 9.591-3.676.56.56 0 0 0 .818 0A5.49 5.49 0 0 1 22 9.5c0 2.29-1.5 4-3 5.5l-5.492 5.313a2 2 0 0 1-3 .019L5 15c-1.5-1.5-3-3.2-3-5.5"/></svg>
                        </div>
                        <h2 class="text-2xl font-light text-center">100%</h2>
                        <p class="text-base font-light text-center">Dedicação</p>
                    </div>
                    <div></div>
                </div>
            </div>
        </div>
    </section>
    </body>